# Copyright (C) Internet Systems Consortium, Inc. ("ISC")
#
# SPDX-License-Identifier: MPL-2.0
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at https://mozilla.org/MPL/2.0/.
#
# See the COPYRIGHT file distributed with this work for additional
# information regarding copyright ownership.

[tool.pylint.basic]
good-names-rgxs = [
  # Allow names from KASP tests
  "I(pub|ret)C?",
  "T(act|pub|ret|rem|sbm)N1?",
]
[tool.pylint.imports]
deprecated-modules = [
  "dns.resolver",
]
[tool.pylint.messages_control]
disable = [
  "C0114", # missing-module-docstring
  "C0115", # missing-class-docstring
  "C0116", # missing-function-docstring
  "C0301", # line-too-long, handled better by black
  "C0302", # too-many-lines
  "R0801", # duplicate-code
  "R0902", # too-many-instance-attributes
  "R0903", # too-few-public-methods
  "R0911", # too-many-return-statements
  "R0912", # too-many-branches
  "R0913", # too-many-arguments
  "R0914", # too-many-locals
  "R0915", # too-many-statements
  "R0917", # too-many-positional-arguments
]
[tool.pylint.main]
ignore-paths = [
  ".git",
  "bin/tests/system/vulture_ignore_list.py",
  "contrib",
  "dangerfile.py",
  "doc",
]
ignore-patterns = [
  "^.*_tmp_.*\\.py$",
]
init-hook = "import sys; sys.path.append('bin/tests/system')"
load-plugins = [
  "re_compile_checker",
]
source-roots = [
  "bin/tests/system/",
]

[tool.vulture]
paths = [
  "bin/tests/system/",
]
exclude = [
  "*ans.py",
  "conftest.py",
  "re_compile_checker.py",
  "isctest",
]
ignore_names = [
  "after_servers_start",
  "bootstrap",
  "pytestmark",
  "autouse_*",
]

[tool.ruff]
target-version = "py310"
lint.select = [
  # f-strings
  "UP031",
  "UP032",
]
extend-exclude = [
  "bin/tests/system/vulture_ignore_list.py",
  "contrib",
  "dangerfile.py",
  "doc",
]
